{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p>{{ product.description }}</p>
                        <p><strong>{{ product.price / 100 }} €</strong></p>
                        <a href="{{ path('product_show', { id: product.id }) }}"
                           class="btn btn-secondary btn-sm"
                        >
                            Voir
                        </a>
                        <a href="{{ path('product_edit', { id: product.id }) }}"
                           class="btn btn-success btn-sm"
                        >
                            Modifier
                        </a>
                        <a href="{{ path('product_delete', { id: product.id }) }}"
                           class="btn btn-danger btn-sm"
                        >
                            Supprimer
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
