{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3">
                <div class="card mt-3 shadow">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p>{{ product.description }}</p>
                        <p><strong>{{ product.price / 100 }} €</strong></p>
                        <p>
                            Vendeur:
                            <a href="{{ path('user_show', { id: product.user.id }) }}">
                                {{ product.user.username }}
                            </a>
                        </p>
                        <a href="{{ path('product_show', { slug: product.slug }) }}"
                           class="btn btn-secondary btn-sm"
                        >
                            Voir
                        </a>
                        {% if is_granted('ROLE_ADMIN') or app.user == product.user %}
                            <a href="{{ path('product_edit', { id: product.id }) }}"
                               class="btn btn-success btn-sm"
                            >
                                Modifier
                            </a>
                            <!-- <a href="{{ path('product_delete', { id: product.id }) }}"
                               class="btn btn-danger btn-sm"
                            >
                                Supprimer
                            </a> -->
                            <form action="{{ path('product_delete', { id: product.id }) }}" method="post" class="d-inline">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                                <button class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
